* {
    border: 1px dotted hotpink;
}
body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 8px 24px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}
.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.header-links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 72px;
}

.hero-pt1 {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex: 1 1 auto;
}

.hero-subtext {
    font-size: 18px;
    color:#E5E7EB;
    flex: 1 1 auto;
}

.placeholder {
    flex: 1 1 0;
    color: #f9faf8;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signup-button {
    background-color: #3882f6;
    color: #f9faf8; 
    padding: 8px;
    width: 100px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.info-items {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.item {
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-box {
    border: 3px solid #3882f6;
    width: 100px;
    height: 100px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 72px 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attr {
    align-self: flex-end;
}
