p {
    margin: 0;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 8px 24px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.hero-subtext, .header-links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 150px;
    background-color: #1F2937;
    gap: 24px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.hero-header {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
}



.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
}


.signup-button {
    background-color: #3882f6;
    color: #f9faf8; 
    border: 1px solid #f9faf8;
    padding: 8px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 8px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px;
    gap: 24px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.info-items {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.item {
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.item-box {
    border: 3px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 36px 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attr {
    align-self: flex-end;
}

.signup-section {
    display: flex;
    justify-content: space-between;
    margin: 24px 150px;
    background-color: #3882f6;
    color:#f9faf8;
    align-items: center;
    padding: 36px;
    border-radius: 8px;
}

.signup-pt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.call-main {
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 8px;
}